:root {
    --darkgrey: rgb(49, 50, 60);
    --lightblue: rgb(138, 227, 227);
    --darkblue: rgb(22, 94, 124);
}

/* navbar elenets */

/* name on nav */
header {
    height: 10vh;
    width: 100%;
    align-items: center; 
    display: flex;
    background-color: var(--darkgrey);
}

.header-name {
    width: 50%;
    display:flex;
    justify-content: start;
    align-items: center;
    font-size: 250%;

}

h1 {
    padding-left: 3vw;
    background-color: var(--lightblue);
    color: var(--darkgrey)
}

/* nav list elements */
nav {
    width: 50%;
    text-align: right;
    padding-right: 5vw;
}

 .navli {
    display: inline;
    padding:0 1vw 0 1vw;
    color: var(--lightblue);
    margin: 0 .25vw 0 .25vw; 
}

.nava {
   text-decoration: none; 
   color: var(--lightblue);
   border-bottom: 3px solid var(--lightblue);
   transition: 0.5s ease-in-out;
   padding: 2.5% 2% .75% 2%;
}

.nava:hover {
    background-color: var(--lightblue);
    color: var(--darkgrey);
    padding: 2.5% 2% 2.5% 2%;

}


#bckgrd-img {
  height: 30vh;
  width: 100%;
  background-image: url(./ocean.jpg);
  background-size: cover;
}



main {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 5%;
    line-height: 1.5rem;
}

/* h2 left side elements */

h2 {
    text-align: right;
    width: 15%;
    color: var(--darkblue);
    font-size: 2rem;
    border-right: 0.5vw solid var(--darkblue);
    float: left;
    margin: 2% 0% 0% 10%;
    padding-right: 0.5%;
    padding-bottom: 3%;
}

p, .container, .contactul {
    width: 60vw;
    float: right;
    margin: 2% 12% 0% 0%;
}

.work {
    height: 100vh;
}

.contactul {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}

.contactli {
    margin-bottom: 0%;;
    padding: 0% 1% 0% 1%;
    text-align: center;
    font-size: 110%;
    color: var(--darkblue);
    padding-top: 4%;
    border-bottom: .25vw var(--darkblue) solid;
 
} 


/* image gallery */

.container {
    height: 20vh;
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 7vw);
    row-gap: 3%;
    column-gap: 1%;
   
}

img {
    height: 100%;
    width: 100%; 
    border: 0.25vw solid rgb(40, 251, 255);
}

figcaption {
    background-color: var(--lightblue);
    width:fit-content;
    padding: 1.5%;
    position:absolute;
    line-height: 1rem;
    margin-top: 6%;
    border: 0.25vw solid rgb(40, 251, 255);
}

#WhichWordcap {
    margin-top: 10%;
}

.Word {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
    object-fit: cover;
}

.LED {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    object-fit: cover;
}

.calc {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
    object-fit: cover;
}

.puzzle {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
    object-fit: cover;
}

.run {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 8;
    object-fit: cover;
}


/* image hover */

img:hover {
  background-color: var(--lightblue);
  opacity: 30%;
}



.contacta {
    list-style: none;
    text-decoration: none;
    color: var(--darkblue);
}

/* media query */

@media screen and (max-width: 992px) {
 
   h2 { 
    color: maroon;
    font-size: 150%;
   }
   
   nav {
    width: 50%;
    text-align: right;
    padding-right: 5vw; 
   }

   .work {
      height: 75vh;
  }

  nav {
    width: 75%;
    font-size: 100%;
}

}

@media screen and (max-width: 768px) {
     
    h2 {
        color: green;
        font-size: 100%;
    }
    
    .contactli {
        font-size: 75%;
        padding-top: 2%;
    }

    .work {
        height: 60vh;
    }
 
    nav {
        width: 75%;
        font-size: 75%;
    }
}

@media screen and (max-width: 576px) {
   
   h2 {
    color: purple;
   }

   .contactli {
    padding-top: 4%;
   }
    
     .work {
      height: 50vh;
  }

  h1 {
    font-size: 75%;
  }

  nav {
    width: 75%;
    font-size: 50%;
}

}